@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
}

.progress-bar {
  @apply bg-blue-500 h-1;
}

.swagger-container {
  margin: 0;
  padding: 0;
  height: 100vh;
}